<html>
    <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="../../../node_modules/plotly.js-dist-min/plotly.min.js"></script>
    </head>

    <body>
        <div class="row">
            <div class="column ">
                    <mat-card class="card ">
                <div id='capacityStorage'></div>
                </mat-card>
            </div>
            <div class="column">
                    <mat-card class="card ">
                <div id='capacityVisual'></div> 
                </mat-card>   
            </div>
            <div class="column cpuRam">
                    <mat-card class="card">
                        <P class="title">
                            <img src="../../assets/images/ram-icon.jpg" class="icon">
                                RAM and CPU
                            <img src="../../assets/images/cpu-icon.png" class="icon">
                    </P>
                        <div id="ramStorageVisual"></div>
                        <div id="cpuStorageVisual"></div>
                        <div id="ramPipeVisual"></div>
                        <div id="cpuPipeVisual"></div>
                        <div id="ramUIVisual"></div>
                        <div id="cpuUIVisual"></div>                             
                        <!-- <div id='ramCpuVisual'></div> -->
                        
                    </mat-card>
                    <mat-card class="card">
                            <p>
                                <a href="10.0.0.2:15672">Link to rabbit</a>
                            </p>
                            </mat-card>
                            <mat-card class="card">
                            <h4><strong>Oldest file date:</strong> from sgyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</h4>                    
                            <h4><strong>Oldest ikun date:</strong> from mongoooooooooooooooooooooooooooooooooooooo</h4>                                    
                            </mat-card>
                    </div>
                    <div class="column gpu">
                        <mat-card class="card">
                            <div id='gpuVisual'></div>  
                        </mat-card> 
                        <mat-card class="card">
                                <div id='gpuVisual2'></div>  
                            </mat-card>  
                    </div>
                        <div class="column gpu">
                        <mat-card class="card">
                            <div id='gpuVisual1'></div>  
                        </mat-card> 
                        <mat-card class="card">
                                <div id='gpuVisual3'></div>  
                                </mat-card>   
                    </div>
           
        </div>
        <div class="row">
            <div class="column files">
                   
            </div>
           <!--  <div class="column gpu">
                              
            </div>
            <div class="column gpu">
                              
            </div> -->
                <!-- <div class="column gpu">
                        <mat-card class="card">
                                <h4><strong>Gpu_Pipe_quadro 8000:</strong> {{this.gpuPipeQ}}%</h4>
                                <h4><strong>Gpu_Pipe_2080ti:</strong> {{this.gpuPipeTi1}}%</h4>
                                <h4><strong>Gpu_Pipe_2080ti:</strong> {{this.gpuPipeTi2}}%</h4>
                                <h4><strong>Gpu_UI_2080ti:</strong> {{this.gpuUI}}%</h4>
                            </mat-card >
                </div>
                <div class="column files">
                        <mat-card class="card">
                        <p>
                            <a href="url">Link to rabbit</a>
                        </p>
                        </mat-card>
                        <mat-card class="card">
                        <h4><strong>Oldest file date:</strong> from sgyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</h4>                    
                        </mat-card>
                        <mat-card class="card">
                        <h4><strong>Oldest ikun date:</strong> from mongoooooooooooooooooooooooooooooooooooooo</h4>                                    
                        </mat-card>
                   
                    </div> -->
               
        </div>
        
    </body>
</html>