<html>
    <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<!-- Load plotly.js into the DOM -->
	<!--script src='https://cdn.plot.ly/plotly-latest.min.js'></script-->
    <script src="../../../node_modules/plotly.js-dist-min/plotly.min.js"></script>
	</head>

    <body>
    <mat-card class="graphCard">
            <div id="chart"></div>            
    </mat-card>
    <mat-card  class="graphCard">
        <div id='myDiv2'><!-- Plotly chart will be drawn inside this DIV --></div>
    </mat-card>
    </body>
</html>