<html>
    <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<!-- Load plotly.js into the DOM -->
	<!--script src='https://cdn.plot.ly/plotly-latest.min.js'></script-->
    <script src="../../../node_modules/plotly.js-dist-min/plotly.min.js"></script>
	</head>

    <body>
    <!-- <mat-card class="graphCard">
            <div id="chart"></div>            
    </mat-card> -->
    <mat-card  class="graphCard">
            <mat-slide-toggle (change)="selectObjects($event)">Slide me!</mat-slide-toggle>
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>First campaign</mat-label>
                <mat-date-range-input
                  [formGroup]="campaignOne"
                  [rangePicker]="campaignOnePicker">
                  <input matStartDate placeholder="Start date" formControlName="start">
                  <input matEndDate placeholder="End date" formControlName="end">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
              </mat-form-field>
            <div id='heatmapVisual'></div>
        </mat-card>
    <mat-card  class="graphCard">
        <div id='scatterVisual'></div>
    </mat-card>
    </body>
</html>