<html>
    <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<!-- Load plotly.js into the DOM -->
	<!--script src='https://cdn.plot.ly/plotly-latest.min.js'></script-->
    <script src="../../../node_modules/plotly.js-dist-min/plotly.min.js"></script>
	</head>

    <body>
    <!-- <mat-card class="graphCard">
            <div id="chart"></div>            
    </mat-card> -->
    <mat-card  class="graphCard">
            <mat-slide-toggle (change)="changed($event)">Slide me!</mat-slide-toggle>
            <div id='myDiv3'></div>
        </mat-card>
    <mat-card  class="graphCard">
        <div id='myDiv2'></div>
    </mat-card>
    </body>
</html>